@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
  width: calc(100vw - 6rem);
  position: absolute;
  right: 0;
}

.logo {
  padding: 1.5em !important;
}

span.logos > a > span {
  overflow: inherit !important;
}

.logo.next:hover {
  filter: drop-shadow(0 0 2em #36373f);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

@media (prefers-color-scheme: dark) {
  .logo.next:hover {
    filter: drop-shadow(0 0 2em #ffff);
  }
}

::-webkit-scrollbar {
  width: 1px;
}
