@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
  width: calc(100vw - 6rem);
  position: absolute;
  right: 0;
}

.mainNav {
  width: calc(100vw - 6rem);
  right: 0;
  position: fixed;
}
.containerSideNav {
  height: calc(100vh - 2.5rem);
  max-height: calc(100vh - 2.5rem);
  position: fixed;
  top: 2.5rem;
  overflow-y: scroll;
  width: 14rem /* 224px */;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b3, var(--b2)) / var(--tw-bg-opacity));
}
.containerBody {
  width: calc(100vw - (6rem + 14rem));
  height: calc(100vh - 2.5rem);
  position: absolute;
  top: 2.5rem;
  right: 0;
  margin: 0;
  padding: 0.5rem;

  overflow-y: scroll;
}

.logo {
  padding: 1.5em !important;
}

span.logos > a > span {
  overflow: inherit !important;
}

.logo.next:hover {
  filter: drop-shadow(0 0 2em #36373f);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

@media (prefers-color-scheme: dark) {
  .logo.next:hover {
    filter: drop-shadow(0 0 2em #ffff);
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: hsl(var(--p, var(--p)) / var(--tw-bg-opacity));
}
